name: CI

on: pull_request

jobs:
  build:
    name: Building on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-10.15]
    env:
      TOKEN: ${{ secrets.SOFA_REPO_READ_TOKEN }}
      SOFA_ROOT: /opt/sofa

    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - name: Install requirements
        run: |
          brew install ccache ninja boost eigen pybind11
          python3 -m pip install numpy

      - name: Download SOFA v20.12.02
        run:  |
          curl --output sofa.zip -L \
          https://ci.inria.fr/sofa-ci-dev/job/nightly-generate-binaries/CI_SCOPE=binaries_minimal/309/artifact/MacOS/*zip*/MacOS.zip

      - name: Install SOFA v20.12.02
        run: |
          sudo unzip sofa.zip -d temp
          sudo unzip temp/MacOS/`ls temp/MacOS/` -d temp
          sudo rm -rf temp/MacOS
          sudo mv temp/`ls temp` $SOFA_ROOT
          rm -rf temp

      - name: Get Time
        id: time
        uses: nanzm/get-time-action@v1.0
        with:
          timeZone: 8
          format: 'YYYY-MM-DD-HH-mm-ss'

      - name: ccache cache files
        uses: actions/cache@v2
        with:
          path: .ccache
          key: ${{ matrix.os }}-ccache-${{ steps.time.outputs.time }}
          restore-keys: |
            ${{ matrix.os }}-ccache-

      - name: Build
        env:
          CCACHE_COMPRESS: true
          CCACHE_COMPRESSLEVEL: 6
          CCACHE_MAXSIZE: "500M"
        run:
          export CCACHE_BASEDIR=$GITHUB_WORKSPACE &&
          export CCACHE_DIR=$GITHUB_WORKSPACE/.ccache &&
          ccache -z &&
          cmake
          -GNinja
          -DCMAKE_C_COMPILER_LAUNCHER=ccache
          -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
          -DCMAKE_PREFIX_PATH=$SOFA_ROOT/lib/cmake
          -DCMAKE_BUILD_TYPE=Release
          -DPYTHON_EXECUTABLE=$(which python)
          .
          && ninja && ninja install
          && echo ${CCACHE_BASEDIR}
          && ccache -s

      - name: Archive production
        uses: actions/upload-artifact@v2
        with:
          name: sp3-${{ matrix.os }}
          path: install

  tests:
    name: Testing on ${{ matrix.os }}
    needs: [build]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-10.15]
    env:
      TOKEN: ${{ secrets.SOFA_REPO_READ_TOKEN }}
      SOFA_ROOT: /opt/sofa

    steps:

      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - name: Install requirements
        run: |
          brew install boost
          python3 -m pip install numpy

      - name: Download SOFA v20.12.02
        run:  |
          curl --output sofa.zip -L \
          https://ci.inria.fr/sofa-ci-dev/job/nightly-generate-binaries/CI_SCOPE=binaries_minimal/309/artifact/MacOS/*zip*/MacOS.zip

      - name: Install SOFA v20.12.02
        run: |
          sudo unzip sofa.zip -d temp
          sudo unzip temp/MacOS/`ls temp/MacOS/` -d temp
          sudo rm -rf temp/MacOS
          sudo mv temp/`ls temp` $SOFA_ROOT
          rm -rf temp

      - name: Install SP3
        uses: actions/download-artifact@v2
        with:
          name: sp3-${{ matrix.os }}
          path: SofaPython3

      - name: Binding.Sofa.Tests
        if: ${{ always() }}
        run: |
          export DYLD_LIBRARY_PATH=$GITHUB_WORKSPACE/SofaPython3/lib:$SOFA_ROOT/lib
          export PYTHONPATH=$GITHUB_WORKSPACE/SofaPython3/lib/python3/site-packages
          chmod +x SofaPython3/bin/Bindings.Sofa.Tests
          ./SofaPython3/bin/Bindings.Sofa.Tests
      - name: Bindings.SofaRuntime.Tests
        if: ${{ always() }}
        run: |
          export DYLD_LIBRARY_PATH=$GITHUB_WORKSPACE/SofaPython3/lib:$SOFA_ROOT/lib
          export PYTHONPATH=$GITHUB_WORKSPACE/SofaPython3/lib/python3/site-packages
          chmod +x SofaPython3/bin/Bindings.SofaRuntime.Tests
          ./SofaPython3/bin/Bindings.SofaRuntime.Tests
      - name: Bindings.SofaTypes.Tests
        if: ${{ always() }}
        run: |
          export DYLD_LIBRARY_PATH=$GITHUB_WORKSPACE/SofaPython3/lib:$SOFA_ROOT/lib
          export PYTHONPATH=$GITHUB_WORKSPACE/SofaPython3/lib/python3/site-packages
          chmod +x SofaPython3/bin/Bindings.SofaTypes.Tests
          ./SofaPython3/bin/Bindings.SofaTypes.Tests
      - name: Bindings.Modules.Tests
        if: ${{ always() }}
        run: |
          export DYLD_LIBRARY_PATH=$GITHUB_WORKSPACE/SofaPython3/lib:$SOFA_ROOT/lib
          export PYTHONPATH=$GITHUB_WORKSPACE/SofaPython3/lib/python3/site-packages
          chmod +x SofaPython3/bin/Bindings.Modules.Tests
          ./SofaPython3/bin/Bindings.Modules.Tests
